<% title "Chris Montes - Welcome" %>

<section class="row">
  <div class="large-8 large-centered columns">
    <h1>Hi! I'm Chris.</h1>
    <hr>
    <h2>I make websites with my bear hands</h2>
    <hr class="bottom">
    <p>I'm a full stack web developer with over 6 years of industry experience building interactive, engagement driven websites. I've done work for big companies like Sony and Mattel, and small companies you've probably never heard of.
    </p>
    <p>
    I have a depth of knowledge and experience in web technologies, as well as a wide array of software design paradigms and project workflows. A few things I work with regularly are HTML5, CSS, Javascript (with jQuery and Zepto), Ruby, Rails, PHP, and Drupal. I have also developed apps and themes for the Shopify Ecommerce platform, made about a thousand WordPress blogs with custom themes and plugins, and I'm always learning new tools and techs.</p>
    <p class="closing">
      <a href="http://zerp.ly/chrismontes">I'm just a passionate web developer with the heart of a lion (and the hands of a bear).</a>
    </p>

  </div>
</section>
