<div class="row">
  <div class="columns">
    <h2>Edit project</h2>
  </div>
</div>

<div class="row">
  <div class="columns large-10 large-centered">

  <%= render 'form' %>

  <hr class="section-spacer">
  <%= link_to 'Show', @project, class: 'button medium' %>
  <%= link_to 'Back', projects_path, class: 'button medium' %>
  </div>
</div>
