<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<h1>You have a new message.</h1>
<p>From <%= @message.name %> (<%= @message.email %>)
<p>
<%= @message.content %>
</p>
<hr>
<p>- The Mail Ninjas at chrismontes.com</p>
