<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<h1>Thanks for getting in touch.</h1>
<p>
  Hi, this message is just to confirm that I received the contact form request you sent
  contact form on chrismontes.com. I'll get back in touch as soon as I can, until
  then you can check out my recent <a href="http://chrismontes.com/blog">blog posts</a>
  or some of my <a href="http://chrismontes.com/work">latest projects</a>.
</p>

<p>
  Thanks again for your message, talk to you soon!
</p>

<hr>

<p>- Chris</p>
