<div class="row">
  <div class="columns large-10 large-centered">

    <h1>Code Snippets</h1>

    <div class="post-list">
      <%= render @posts %>
    </div>

    <hr class="section-spacer">

    <%= link_to 'New Post', new_post_path, class: 'button medium' if create? %>

  </div>
</div>
