<div class="row">
  <div class="columns large-10 large-centered">

    <h1>Code Snippets</h1>

    <div class="post-list">
      <% @posts.each do |post| %>
      <article class="post-item" id="<%= dom_id(post) %>">
        <h3><%= link_to post.title, post %></h3>
      </article>
      <% end %>
    </div>

    <hr class="section-spacer">

    <%= link_to 'New Post', new_post_path, class: 'button medium' if current_user %>

  </div>
</div>
