/* `Color Variables
 ==================================================*/
$black: #000;
$header-black: #182937;
$dark_blue: #182937;
$grey: #c1c1c1;
$dark_grey: #464646;
$light_blue: #179bb7;
$green: #3fba50;
$bright-green: #43bb52;
$smoke: #f3f3f3;
$dark_smoke: #dfdfdf;
$teal: #137695;

$header_bg: $dark_blue;
$footer_bg: $dark_blue;
$control_bg: $light_blue;

$interior-header-color: $teal;

$control_color: $light_blue;
