/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

body {
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 10px solid #eaeaea;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  -webkit-text-size-adjust: 100%; }

a {
  color: inherit;
  text-decoration: none; }
a:hover {
  text-decoration: underline; }

footer {
  padding: 50px;
  text-align: center; }
  footer p {
    color: #555;
    font: 400 16px/1 "open sans";
    margin: 0 0 2em 0; }
    footer p a {
      color: #555;
      font-weight: 700; }
      footer p a:hover {
        color: #000; }

.sample#camus {
  position: relative;
  min-height: 100%;
  background: #fff;
  }
  .sample#camus .text {
    bottom: 0;
    display: table;
    height: auto;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 245px; }
  .sample#camus h1 {
    color: #222;
    font: 700 24px/24px "pt sans narrow";
    margin: 0;
    text-align: center;
    text-transform: uppercase; }
  .sample#camus hr {
    background: #333;
    border: 0;
    height: 2px;
    margin: 12px auto 8px;
    width: 50%; }
    .sample#camus hr.bottom {
      margin: 10px auto; }
  .sample#camus h2 {
    color: #222;
    font: 700 16px/20px "pt sans";
    margin: 0;
    text-align: center; }
  .sample#camus p {
    color: #222;
    font: 400 14px/18px "pt serif";
    text-align: justify;
    text-indent: 14px; }
