@import 'components/masthead';


.this_is_home{
  padding-bottom: 10em;
}

.divider {
  color: #777;
  text-align: center;
}

.info_box {
  text-align: center;
}

.recentwork_box {
  text-align: center;
  background-color: #F7F7F7;
}

.prefooter{
  text-align: center;
  padding: 50px 0;
}
