

<!-- Footer -->
<section class="footer">
    <div class="toTop"><i class="fi-arrow-up size-32"></i></div>
    <div class="row">
        <div class="large-12 columns">
            chrismontes.com
        </div><!-- /.large-12 columns -->
    </div><!-- /.row -->
</section>
<!-- / Footer -->
