

<header id="header" class="bck">
  <div id="logo" class="left">Chris Montes</div>
  <nav class="top-bar right" data-topbar>

    <nav class="top-bar-section">
      <!-- Right Nav Section -->
      <ul>
        <li><a href="/">Home</a></li>
        <li><i class="icon_divider  fi-asterisk size-12"></i></li>
        <li><%= link_to "Projects", projects_path %></li>
        <li><i class="icon_divider  fi-asterisk size-12"></i></li>
        <li><%= link_to "Posts", posts_path %></li>
        <li><i class="icon_divider  fi-asterisk size-12"></i></li>
        <li><%= link_to "Get in touch", new_message_path %></li>
        <% unless current_user.nil? %>
          <li><i class="icon_divider  fi-asterisk size-12"></i></li>
          <li>
            <%= link_to "Sign Out", destroy_user_session_path, method: "delete" %>
          </li>
        <% end %>
      </ul>
    </nav><!-- /.top-bar-section -->
  </nav> <!-- /.top-bar -->
</header><!-- /#header -->
